* {
    font-family: 'Lobster', cursive;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

header {
    display: flex;
    background-color: #c951b9;
    color: #ffffff;
    height: 5rem;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

li {
    font-family: 'Xanh Mono', monospace;
}

section {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    box-sizing: content-box;
}

.row {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* margin-left: 130pt; */
}

.card {
    height: 50%;
}
