* {
    font-family: 'Lobster', cursive;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

header {
    display: flex;
    background-color: #c951b9;
    color: #ffffff;
    height: 5rem;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

li {
    font-family: 'Xanh Mono', monospace;
    color: #000000
}

/* section {
    display: flex;
    align-items: center;
    box-sizing: content-box;
} */

h4 {
    margin-bottom: 0.5rem;
    overflow-y: hidden;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.card {
    background-color: #c951b9;
    padding: -1.75rem;
}

.card-header {
    overflow-x: initial;
    padding-bottom: 0rem;
}

.card-body {
    background-color: #e4e3e3;
    overflow: -moz-hidden-unscrollable;
}
